@media (max-width: 1370px) {

    .ourHistory_rightSide__block {
        font-size: 15px;
        width: 300px;
        margin-left: 60px;
    }

    .ourHistory_leftSide__block___topText,
    .ourHistory_leftSide__block___bottomText {
        width: 610px;
        font-size: 17px;
    }

    .ourHistory_title {
        font-size: 43px;
    }

    .ourDirections_title {
        font-size: 43px;
    }

}

@media (max-width: 1230px) {

    .ourDirections_block {
        height: 1370px;
        background: url("../images/mainImg2-1.jfif");
        background-position: right;
        background-size: cover;
    }

    .ourDirections_mainBlock {
        flex-direction: column;
        height: 1150px;
        width: 500px;
        margin-right: 0;
    }

    .ourDirections_mainBlock__leftSide,
    .ourDirections_mainBlock__rightSide {
        height: 555px;
    }

    .ourDirections_item {
        width: 500px;
        height: 260px;
    }

    .ourDirections_mainBlock__leftSide .ourDirections_item:first-child {
        background: url("../images/courses.jfif");
        background-position: left 10% bottom 30%;
        background-size: cover;
    }

    .ourDirections_title {
        width: 400px;
        text-align: center;
        font-size: 40px;
        margin-right: 0;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .ourDirections_mainBlock {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0%;
        margin-right: 0%;
    }

}

@media (max-width: 1080px) {

    .portraitImg-header {
        top: 20px;
        height: 700px;
    }

    .main_text h1 {
        font-size: 40px;
    }

    .main_text h2 {
        font-size: 32px;
    }

    .ourHistory_block {
        height: 750px;
    }

    .ourHistory_textBlock {
        flex-direction: column;
    }

    .ourHistory_leftSide__block___topText,
    .ourHistory_leftSide__block___bottomText {
        width: 710px;
        font-size: 18px;
    }

    .ourHistory_rightSide__block {
        font-size: 17px;
        width: 500px;
        margin-left: 40px;
        margin-top: 65px;
    }



}

@media (max-width: 920px) {

    .main_block {
        height: 530px;
    }

    .menu_burger {
        width: 280px;
        height: 360px;
        padding: 5px 0px 45px 0px;
    }

    .menu_burger a li p {
        font-size: 15px;
    }

    .menu_burger a li img {
        width: 25px;
        height: 25px;
    }

    .menu_burger__btn img {
        width: 45px;
        height: 28px;
    }

    .header nav {
        width: 94%;
        height: 90px;
        margin: 0% 3%;
    }

    .socMedia_block {
        width: 170px;
    }

    .socMedia_item {
        width: 37px;
        height: 37px;
    }

    .socMedia_item img {
        width: 15px;
        height: 15px;
    }

    .portraitImg-header {
        top: 20px;
        height: 600px;
    }

    .main_text h1 {
        font-size: 35px;
    }

    .main_text h2 {
        font-size: 25px;
    }

    .ourHistory_textBlock {
        margin-left: 40px;
    }

    .ourHistory_rightSide__block {
        font-size: 15px;
        width: 400px;
        margin-left: 40px;
    }

    .ourHistory_leftSide__block___topText,
    .ourHistory_leftSide__block___bottomText {
        width: 610px;
        font-size: 17px;
    }

    .ourHistory_title {
        font-size: 40px;
        margin-left: 80px;
    }
}

@media (max-width: 820px) {

    .portraitImg-header {
        top: 20px;
        height: 530px;
    }

    .main_text h1 {
        font-size: 31px;
    }

    .main_text h2 {
        font-size: 21px;
    }

}

@media (max-width: 740px) {

    .ourHistory_rightSide__block {
        font-size: 14px;
        width: 320px;
        margin-top: 50px;
    }

    .ourHistory_leftSide__block___topText,
    .ourHistory_leftSide__block___bottomText {
        width: 490px;
        font-size: 15px;
    }

    .main_block {
        height: 450px;
    }

    .portraitImg-header {
        top: 20px;
        height: 450px;
    }

    .main_text {
        margin-top: 120px;
    }

    .main_text h1 {
        font-size: 28px;
    }

    .main_text h2 {
        font-size: 18px;
    }

    .menu_burger {
        width: 230px;
        height: 270px;
    }

    .menu_burger a li {
        width: 200px;
        margin-top: 15px;
    }

    .menu_burger a li p {
        font-size: 12px;
    }

    .menu_burger a li img {
        width: 21px;
        height: 21px;
        margin-left: 30px;
    }

}

@media (max-width: 680px) {

    .header nav {
        width: 90%;
        margin: 0% 5%;
    }

    .main_block {
        height: 450px;
    }

    .portraitImg-header {
        top: 50px;
        height: 420px;
    }

    .main_text {
        margin-top: 110px;
    }

    .main_text h1 {
        width: 260px;
        font-size: 28px;
    }

    .main_text h2 {
        font-size: 18px;
    }

    .ourHistory_block {
        height: 700px;
    }

    .ourHistory_textBlock {
        margin-left: 30px;
    }

    .ourHistory_rightSide__block {
        font-size: 13px;
        width: 310px;
        margin-top: 50px;
        margin-left: 0;
    }

    .ourHistory_leftSide__block {
        height: 240px;
        border-left: 2px solid rgba(238, 200, 0, 1);
        padding-left: 30px;
    }

    .ourHistory_leftSide__block___topText,
    .ourHistory_leftSide__block___bottomText {
        width: 420px;
        font-size: 14px;
    }

    .ourDirections_mainBlock {
        width: 480px;
    }

    .ourDirections_item {
        width: 480px;
    }

    .ourHistory_title {
        font-size: 38px;
        margin-left: 80px;
    }

    .ourDirections_title {
        width: 480px;
        font-size: 38px;
    }

}

@media (max-width: 540px) {

    .main_block {
        height: 380px;
    }

    .portraitImg-header {
        top: 50px;
        height: 350px;
    }

    .main_text {
        margin-top: 80px;
    }

    .main_text h1 {
        width: 260px;
        font-size: 23px;
    }

    .main_text h2 {
        font-size: 13px;
    }

    .ourHistory_block {
        height: 640px;
    }

    .ourHistory_textBlock {
        margin-left: 20px;
        margin-right: 0;
    }

    .ourHistory_leftSide__block {
        height: 240px;
        border-left: 2px solid rgba(238, 200, 0, 1);
        padding-left: 20px;
        padding: 20px 0px 20px 20px;
    }

    .ourHistory_title {
        font-size: 34px;
        margin-left: 30px;
        margin-top: 30px;
    }

    .ourHistory_leftSide__block___topText,
    .ourHistory_leftSide__block___bottomText {
        width: 380px;
        font-size: 13px;
    }

    .ourDirections_mainBlock {
        width: 380px;
    }

    .ourDirections_item {
        width: 380px;
    }

    .ourDirections_title {
        width: 380px;
        font-size: 34px;
    }

    .ourDirections_item__bottomSection p {
        font-size: 16px;
    }

    .ourDirections_item__btnMore {
        width: 130px;
        font-size: 13px;
    }

    .ourDirections_item__moreInfoBlock > h3 {
        margin-left: 20px;
        font-size: 17px;
    }

    .ourDirections_item__moreInfoBlock > p {
        width: 320px;
        font-size: 14px;
        margin-bottom: 5px;
        margin-left: 20px;
    }

    .ourDirections_item__moreInfoBlock div {
        width: 150px;
    }

    .ourDirections_item__moreInfoBlock div h3:nth-child(1) {
        font-size: 17px;
    }

    .ourDirections_item__moreInfoBlock div h3:nth-child(2) {
        font-size: 17px;
    }

}

@media (max-width: 460px) {

    .main_block {
        height: 380px;
    }

    .portraitImg-header {
        top: 70px;
        left: -15px;
        height: 320px;
    }

    .main_text {
        margin-top: 80px;
    }

    .main_text h1 {
        width: 220px;
        font-size: 18px;
    }

    .main_text h2 {
        font-size: 12px;
    }

    .menu_burger {
        width: 190px;
        height: 215px;
    }

    .menu_burger a li {
        width: 160px;
        margin-top: 5px;
    }

    .menu_burger a li p {
        font-size: 12px;
    }

    .menu_burger a li img {
        width: 17px;
        height: 17px;
        margin-left: 20px;
    }


    .ourHistory_leftSide__block___topText,
    .ourHistory_leftSide__block___bottomText {
        width: 250px;
        font-size: 11px;
    }

    .ourHistory_leftSide__block {
        height: 240px;
        border-left: 2px solid rgba(238, 200, 0, 1);
        padding-left: 20px;
        padding: 20px 0px 20px 10px;
    }

    .ourHistory_textBlock {
        margin-left: 10px;
        margin-right: 0;
    }

    .ourHistory_rightSide__block {
        font-size: 12px;
        width: 290px;
        margin-top: 50px;
        margin-left: 0;
    }

    .ourHistory_title {
        font-size: 31px;
        margin-left: 20px;
        margin-top: 30px;
    }

    .ourDirections_title {
        width: 380px;
        font-size: 31px;
    }

    .ourDirections_mainBlock {
        width: 310px;
    }

    .ourDirections_item {
        width: 310px;
    }

    .ourDirections_title {
        width: 310px;
        font-size: 31px;
    }
    
    .ourDirections_mainBlock__leftSide .ourDirections_item:first-child {
        background-position: center top;
    }

    .ourDirections_item__bottomSection p {
        font-size: 13px;
    }

    .ourDirections_item__btnMore {
        width: 110px;
        font-size: 11px;
    }

    .ourDirections_item__moreInfoBlock > h3 {
        margin-left: 20px;
        font-size: 16px;
    }

    .ourDirections_item__moreInfoBlock > p {
        width: 280px;
        font-size: 12px;
        margin-bottom: 5px;
        margin-left: 20px;
    }

    .ourDirections_item__moreInfoBlock div {
        width: 140px;
    }

    .ourDirections_item__moreInfoBlock div h3:nth-child(1) {
        font-size: 16px;
    }

    .ourDirections_item__moreInfoBlock div h3:nth-child(2) {
        font-size: 16px;
    }


}
